body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 50px;
}

.color-org {
    color: orange;
}
section {
    display: flex;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.width-50 {
    width: 50%;
    padding-left: 5%;
}
.width-50 img {
    width: 75%;
}
.hire-btn {
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    background-image: linear-gradient(orange,red);

}